.parent{
    text-align: center;
    display: flex;

    .container{
        display: flex;
        justify-content: center;
        background-color: #2A2A2A;
        flex-direction: column;
        align-items: center;
        width: 50vw;

        .register-link{
            color: white;

            a {
                color: #44A4DA;
                text-decoration: none;

                &:hover{
                    color: #44a3da9a;
                }
            }
        }
        .card-top{
            display: flex;
            justify-content: space-evenly;
            background: white;
            border-radius: 20px;
            flex-direction: column;
            margin: 12px 30px;

            .title{
                margin: 5px 15px;
                font-size: 2rem;
            }

            .paragraph{
                margin: 5px 15px;
                font-size: 1rem;
            }
        }

        .register-form{
            display: flex;
            padding: 13px;
            align-items: stretch;
            align-content: flex-start;
            justify-content: center;
            flex-wrap: wrap;

            .form-input{
                width: 100%;
                padding: 16px 4px;
                margin: 8px 0;
                display: block;
                border: 1px solid #ccc;
                border-radius: 14px;
                box-sizing: border-box;
           
            }
        }
    }

    .image-container{
        display: flex;
        width: 50vw;
        background-color: #2a2a2a;
        justify-content: flex-end;
        .login-image{
            max-height: calc(100vh - 40px);
            border-radius: 30px 0 0 30px;
            max-width: 50vw;
        }
    }
}

